.comeback {
  //display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 30px;
  font-size: 0;
  background: fade(@light-color, 40%) url("../img/comeback_button.png") center center no-repeat;
 // background-color: fade(@light-color, 40%);
 // background-size: cover;
  //border-radius: 50%;
  //border: 2px solid @brand-color;
  border-radius: 8px;
  opacity: 0.2;

  &:hover {
    opacity: 1;
  }

}